@{
    ViewData["Title"] = "About-us";
}
<h1>@ViewData["Title"]</h1>

    <!--================About  Area =================-->
    <section class="about-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-6 offset-xl-7 col-xl-5">
                    <div class="about-content">
                        <h4>
                            POURQUOI <br>
                            FARMA.NET ?
                        </h4>
                    
                    <p>
                        FARMA.NET est une application destinée à faciliter la gestion des médicaments dans une pharmacie. L'objectif principal est
                        d'automatiser les processus manuels associés à la gestion des stocks de médicaments, la mise à jour des quantités de médicaments, le suivi des dates d'expiration des médicaments, et la génération de rapports sur les ventes de médicaments.
                    </p>

                      

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================About Area End =================-->


    <div class="site-section bg-light custom-border-bottom" data-aos="fade" style="margin-top:70px">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>The Team</h2>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/img/jiheen.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Mkhinini Jihen </h3>

                        </div>
                        <div class="block-38-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/img/arij.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Thabet Arij </h3>

                        </div>
                        <div class="block-38-body">
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-6 col-lg-6 mb-5">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                            <img src="~/img/saba.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Abdennabi Saba </h3>
                              
                            </div>
                            <div class="block-38-body">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 mb-5">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                            <img src="~/img/farah.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Farah Trigui</h3>
                          
                            </div>
                            <div class="block-38-body">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
