@{
    ViewData["Title"] = "About-us";
}
<h1>@ViewData["Title"]</h1>

    <!--================About  Area =================-->
    <section class="about-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-6 offset-xl-7 col-xl-5">
                    <div class="about-content">
                        <h4>
                            Second Abundantly<br>
                            Move That Cattle Perform<br>
                            Appen Land
                        </h4>
                        <h6>Give their their without moving were stars called so divide in female be moving night may fish him</h6>
                        <p>Give their their without moving were stars called so divide female be moving night may fish him own male vreated great Give their their without moving were. Stars called so divide female moving night may fish him own male created great opportunity deal.</p>

                        <a class="link_one" href="#">learn more</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================About Area End =================-->


    <div class="site-section bg-light custom-border-bottom" data-aos="fade" style="margin-top:70px">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>The Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 mb-5">

                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="~/img/jiheen.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Mkhinini jihen</h3>
                            </div>
                        </div> 
                        <div class="block-38-header">
                            <div class="social-icons">
                                <a href="lien_vers_page_facebook" target="_blank"><i class="fab fa-facebook"></i></a>
                                <a href="lien_vers_page_linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
                                <a href="lien_vers_page_instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                            
                       
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 mb-5">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="~/img/arij.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Thabet Arij</h3>
                            </div>
                            <div class="block-38-body">
                            </div>
                        </div>
                    <div class="social-icons">
                        <a href="lien_vers_page_facebook" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="lien_vers_page_linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="lien_vers_page_instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 mb-5">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                            <img src="~/img/saba.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Abdennabi Saba </h3>
                              
                            </div>
                            <div class="block-38-body">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 mb-5">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                            <img src="~/img/farah.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Farah Trigui</h3>
                          
                            </div>
                            <div class="block-38-body">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
