html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    line-height: 27px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #797979;
}
.login-logout-card .card-header {
    padding: Opx Opx 12px Opx;
    background-color: #F0F3F2;
}

. login-logout-card ul.nav-tabs {
    margin: Opx Opx -12px Opx;
}
. login-logout-card li.nav-item {
    width: 50%;
}
. login-logout-card a.nav-link{
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}
.navbar {
    background-color: #ffffff; 
    border-bottom: 1px solid #e0e0e0; 
}


.navbar-brand {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #333; 
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: bold; 
}

.navbar-nav .nav-link:hover {
        color: #007bff; 
}

.navbar-toggler {
    border: none; 
}

.navbar-toggler-icon {
    background-color: azure;
}
. login-logout-card .card-body {
    padding: 10px 20px;
    background-color: #FCF9F9;
}
nav {
    position:relative;
    z-index: 1000; /* ou toute valeur plus élevée que le z-index de la section about-area */
}
/*about us css start */
/* About Area css
============================================================================================ */
.about-area {
    background: #f7f7f7;
    background-image: url(../img/background/bg_1.png);
    background-size: revert;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 400px;
    padding-bottom: 110px;
    margin-top: -160px;
    z-index: 1;
}

    .about-area ::after {
        content: '';
        position: absolute;
        left: 0;
        width: 50%;
        top: 0;
        background: url(../img/banner/about1.png);
        background-size: auto;
        z-index: 11;
        height: 100%;
        background-repeat: no-repeat;
        background-position: right bottom;
    }

@media (max-width: 991px) {
    .about-area:after {
        display: none;
    }
}

@media (min-width: 1199px) and (max-width: 1199px) {
    .about-area .about-content {
        padding-top: 30px;
    }
}

@media (max-width: 991px) {
    .about-area .about-content {
        margin-top: 0;
        padding-left: 0;
    }

        .about-area .about-content h4 br {
            display: none;
        }

        .about-area .about-content p br {
            display: none;
        }
}

.about-area .about-content h4 {
    font-size: 36px;
    color: #33363e;
    font-family: "Playfair Display", serif;
    margin-bottom: 32px;
    line-height: 46px;
}

.about-area .about-content h6 {
    font-size: 16px;
    font-weight: 400;
    color: #0051d2;
    line-height: 25px;
    margin-bottom: 25px;
}

.about-area .about-content p {
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 26px;
}

/*---------------------------------------------------- */

.block-38 .block-38-header .block-38-heading {
    color: #000;
    margin: 0;
    font-weight: 300;
}

.block-38 .block-38-header .block-38-subheading {
    color: #b3b3b3;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .1em;
}

.block-38-header img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}
site-section bg-light custom-border-bottom{
    margin-top:200px;
}


/*about us end*/