@model ProjetTp.Models.MedicamentJoinResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Medicament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Medicament.Id" />
            <div class="form-group">
                <label asp-for="Medicament.Name" class="control-label"></label>
                <input asp-for="Medicament.Name" class="form-control" />
                <span asp-validation-for="Medicament.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicament.Price" class="control-label"></label>
                <input asp-for="Medicament.Price" class="form-control" />
                <span asp-validation-for="Medicament.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicament.ExpiryDate" class="control-label"></label>
                <input asp-for="Medicament.ExpiryDate" class="form-control" />
                <span asp-validation-for="Medicament.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fabriquant.Name" class="control-label">Fabriquant</label>
                <input asp-for="Fabriquant.Name" class="form-control" />
                <span asp-validation-for="Fabriquant.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Format.Name" class="control-label">Format</label>
                <input asp-for="Format.Name" class="form-control" />
                <span asp-validation-for="Format.Name" class="text-danger"></span>
            </div>
                <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

